.container {
    width: 700px;
    margin-top: 50px;
}

.glyphicon {
    &.glyphicon-sort, &.glyphicon-filter {
        cursor: pointer;
    }

    &.glyphicon-star, &.glyphicon-star-empty {
        font-size: 21px;
        padding-right: 2px;
        color: #999900;
    }
}
