.container {
    width: 700px;
    margin-top: 50px;
}

.glyphicon {
    &.glyphicon-star {
        font-size: 21px;
        padding-right: 2px;
        color: #999900;
    }
    &.glyphicon-star-empty {
        font-size: 21px;
        padding-right: 2px;
        color: #999900;
    }
}
